/*Denne siden er sist endret 14.05.2018 av Hamta og Ketil
Denne siden ble kontrollert 01.06.2018 av Ole*/

.footerFelt	{
    background-color: black;

}
.divfelt	{
    background-color:#BEBEBE;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px sans-serif;

    padding: 45px;
    margin-top: 80px;


}